{% extends 'base.html.twig' %}

{% block body %}

        <div class="row">
            {% if lists|length > 0 %}
                {% for list in lists %}
                    {{ include(':default:listitem.html.twig', {'list': list}) }}
                {% endfor %}
            {% endif %}

            <div id="empty-list"></div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-plus-square"></i> Naujas sąrašas
                    </div>
                    <div class="panel-body text-center">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-control" type="text" name="newListTitle" id="newListTitle" />
                                        </td>
                                        <td>
                                            <button class="btn btn-success js-list-add">Pridėti</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $(document).on('click', '.js-list-add', function(e) {
                var $btn = $(this);
                var url = '{{ path('list_add') }}';

                $.post(url, { title: $('#newListTitle').val() }, function(data) {
                    $('#empty-list').before(data);
                    $('#newListTitle').val('');
                });
            });
            $(document).on('click', '.js-list-delete', function(e) {
                var $btn = $(this);
                var url = '{{ path('list_delete') }}';

                $.post(url, { listid: $btn.data("listid") }, function(data) {
                    if (data.status) {
                        $('.list-' + $btn.data("listid")).remove();
                    }
                });
            });


            $(document).on('click', '.js-note-add', function(e) {
                var $btn = $(this);
                var url = '{{ path('note_add') }}';
                var listid = $btn.data("collid");

                $.post(url, { collid: listid, text: $('#newNoteText-' + listid).val() }, function(data) {
                    if (data.status) {
                        $('.new-note-' + listid).before(data.html);
                        $('#newNoteText-' + listid).val('');
                    }
                });
            });

            $(document).on('click', '.js-note-update', function(e) {
                var $btn = $(this);
                var url = '{{ path('note_update') }}';
                var noteid = $btn.data("noteid");
                $btn.siblings('i').remove();

                $.post(url, { noteid: noteid, text: $('#noteText-' + noteid).val() }, function(data) {
                    if (data.status) {
                        $btn.before('<i class="fa fa-circle status" style="color: ' + (data.status ? 'green' : 'red') + '"></i>');
                    }
                });
            });

            $(document).on('click', '.js-note-delete', function(e) {
                var $btn = $(this);
                var url = '{{ path('note_delete') }}';

                $.post(url, { noteid: $btn.data("noteid") }, function(data) {
                    if (data.status) {
                        $('.note-' + $btn.data("noteid")).remove();
                    }
                });
            });
        });
    </script>
{% endblock %}
